/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */

html {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {
    width: 100%;
    height: 100%;
}

#poem { /*controls the poem text */
    padding-top: 10%;
    color: blue; /* poem text colour*/
    font-family: 'Courier New', Courier, monospace; /*poem font*/
    font-size: small; /*poem text size*/
    min-height: 200px;
}
.box2 { /* holds both the poem and the poem gen button*/
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}
.poemgenbutton { /* controls the poem generator button*/
    border-style: solid; /*use none instead of solid if you want no border*/
    border-color: grey;
    color: black; /*button text colour*/
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;

    /*button alignment*/
    display: block; /* center the button */
    margin: auto; /* center the button */
}